.Sidebar {
    width: 220px;
    background: #f5f7fc;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.logoContainer {
    padding: 5px;
    text-align: center;
}

.logo {
    margin-top: 10px;
    width: 100px;
    height: auto;
    margin-bottom: 30px;
}

.menuLink {
    padding: 13px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.menuLink:last-child {
    margin-top: auto;
}

.menuLink:hover {
    background-color: #e3e7f0;
    color: #333;
}

.menuIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.logoutLink {
    margin-top: auto;
    margin-bottom: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #666;
    font-size: 14px;
    transition: color 0.2s ease;
    text-align: center;
}

.logoutLink:hover {
    color: #385a9e;
}

.logoutIcon {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}